<div class="container">
  <h1>
    Test technique WEB-ATRIO réalisé par Yiyi Plantinet <br />
    réalisé le 24/04/2023
  </h1>
  <app-progress-bar
    [title]="'Initialisation du test technique'"
  ></app-progress-bar
  ><br />
  <app-progress-bar
    [title]="'Avancement de la phase de développement'"
  ></app-progress-bar>
  <div class="btnContainer">
    <button (click)="progressBarService.resetAll()">
      Remettre les compteurs
    </button>
    <button (click)="progressBarService.addPercent(5)">Ajouter 5%</button>
    <button (click)="progressBarService.addPercent(10)">Ajouter 10%</button>
  </div>
</div>
